.player{
    width:auto;
    height:auto;
    margin:0 auto;
}

.blue-player{
    background-color:#1279ae;
}

.red-player{
    background-color: #d90a00;
}

.green-player{
    background-color: #009e53;
}

.player-nickname{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding:0.5rem 0;
    text-transform: uppercase;
    color:#000;
}

.player-sprite-container{
    width:auto;
    height:auto;
}

/* .player.sprite{
    width:;
} */