*{
    margin:0;
    padding:0;
}

.prepare{
    width: 100%;
    height: 100vh;
    background-image: url(../images/espacio_lavel1.png);
    background-attachment: fixed;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.window{
    margin:0 auto;
    width:50%;
    height:70%;
    padding:4%;
    background-color:#fff;
    border-radius:10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
}

.awesome {
    min-width: 200px;
    min-height: 50px;
    font-family: "Hind Vadodara", sans-serif;
    font-size: 22px;
  }